
.font-weight-700 {
    font-weight: 700;
}

#lastupdate
{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: #0f1419;
    margin-top: 10px;
}

.spacing
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-h3
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 24px;
}

.search-input
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 400;
}

.hline
{
    border-bottom: 2px solid #0f1419;
}

.container
{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel-heading h4
{
    font-weight: 700;
    color: black;
}

.panel-body p
{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: #0f1419;
    margin-top: 10px;
}

.info
{
    color: #0f1419;
    width: 13em;
}

.repository
{
    color: #428bca;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: 400;
}

.license
{
    color: #0f1419;
    font-weight: 400;
}

.url-style
{
    color: #428bca;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: 400;
}

@media (max-width: 767px) {
    .footer-btm-bar ul {
        text-align: center;
    }
    .footer-btm-bar ul li {
        display: inline;
    }
    .footer-btm-bar ul li a {
        line-height: 0;
        font-size: 0;
        color: transparent;
    }
    .footer-btm-bar p {
        text-align: center;
        padding: 10px 0px;
    }
}
.footer-btm-bar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F7F7F7;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    width: 100%;
    padding: 25px 0px 15px 0px;
}

.footer-btm-bar ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-btm-bar ul li {
    padding: 0px 10px 10px 0px;
    display: inline-block;
}
.footer-btm-bar p {
    font-size: 16px;
    font-weight: 300;
}

.footer-btm-bar ul li a {
    color: #808080;
}

.main_page_title {
    background-color: #BE2040;
    padding: 20px 50px;
    margin-bottom: 50px;
}

.page-title h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
